{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<h1>Add Content</h1>

<form action="{% url 'add' %}" method="POST">
    {% csrf_token %}
    <label>Title:</label>
    <input type="text" name="title" placeholder="Enter title of your content">
    <br/>
    <label>Content</label><br/>
    <textarea name="content" placeholder="Type something about your content here"></textarea> 
    <br/>
    <input type="submit" value="Add Content" class="btn btn-primary">

</form>

{% endblock %}